.binaryDecodeChallenge {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
}
.title {
  text-align: center;
}
.answers {
  display: flex;
  align-items: center;
  gap: 5px;
}
.binary {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 25px;
}
.binary-number {
  width: 35px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.2px solid rgba(0, 0, 0, 0.529);
  background-color: rgba(26, 26, 26, 0.478);
  border-radius: 5px;
}
